	body{
		background-color: #2c3e50;
	}
	h2{
		color:white;
		position: absolute;
		margin-left: calc(10% - 170px);
	}
	img{
		width:100%;

	}
	.slick-track {
		display: flex;
	}
	.slider{
		min-width: 0
	}
	.dark_block {
    background: rgba(0,0,0,0.4);
    width:100%;  
    height: 100%;
    position: inherit; 
    top:0;
}
    .main_slide {
    width:100%; 
    height:550px; 

}
	.content {
    position: relative; 
    color: white; 
    margin:0 auto; 
 	font-size:25px;
 	text-align: center;
 }